

.navbar{
    box-shadow: 3px 0px 6px 0px gray;
}

.navbar-nav{
    /*background: lightblue;*/
    flex: 1;
}
.navbar-brand{
    /*background: lightcoral;*/
    flex: 0;

}

.banner{
    height: 70vh;

}
.carousel{
    margin-top: 6px;
}

a{
	text-decoration: none;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');

#contact {
	background-color: white;
	font-family: 'Roboto', sans-serif;
} 

#contact .well {
	margin-top: 40px;
	border-radius: 0;
}

#contact .form-control {
	border-radius: 0;
}

#contact button {
	border-radius: 0;
}

#contact .row {
	margin-bottom: 30px;
}

@media ( max-width : 768px) {
	#contact iframe {
		margin-bottom: 15px;
	}
}



hr {
	border: 1px solid black;
}
.top{
border-top: 1px solid grey;
padding-top:25px;
}

.container-fluid{
margin:-10px;	
}

.navbar-nav .dropdown-menu{
margin: 0px;
}

.nav-item{
padding: 0px 10px;
}
.dropdown:hover>.dropdown-menu {

  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

a.nav-link{
padding: 29px 0px;
}




/* Chi tiet sp */
.card-sp {
	border: none;
	width: 18rem;
	
	margin-bottom: 3vh;
	display: inline-block;
	padding: 10px;
	margin: 0vh 0.6vh 3vh 0.6vh
}

.image{
height: 40vh;
}

.btn {
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	line-height: 30px;
	max-width: 130px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}



.btn:hover {
	text-decoration: none;
}

/*btn_background*/
.effect01 {
	color: #000;
	border: 4px solid #FFF;
	box-shadow: 0px 0px 0px 1px #000 inset;
	background-color: #FFF;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.effect01:hover {
	border: 4px solid #666;
	background-color: #000;
	box-shadow: 0px 0px 0px 4px #EEE inset;
}

/*btn_text*/
.effect01 span {
	transition: all 0.2s ease-out;
	z-index: 2;
}

.effect01:hover span {
	letter-spacing: 0.13em;
	color: #FFF;
}

/*highlight*/
.effect01:after {
	background: #FFF;
	border: 0px solid #000;
	content: "";
	height: 125px;
	left: -75px;
	opacity: .8;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	width: 50px;
	transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
	z-index: 1;
}

.effect01:hover:after {
	background: #FFF;
	border: 20px solid #000;
	opacity: 0;
	left: 120%;
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}



